body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: cadetblue;
}

.container {
  margin: 5%;
  margin-top: 10%;
  border-style: solid;
  border-width: 3px;
  border-color:aquamarine;
}

.top-tabs {
  padding: 2%;
  margin-top: 4%;
  background-color:#b7babbe4;
  
}

.top-tabs p {
  border-width: 1px;
  border-color: black;
  text-align: center;
  border-style: solid;
  background-color: #73798a71;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size:inherit;
}

.top-tabs a {
  color: white;
}

.sub {
  background-color:crimson;
  height: 400px;
}

.sub-sub {
  background-color: blue;
  height: 500px;
}