body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: hwb(180 71% 24% / 0.876);
  background: url("img/img1.jpeg"), url("img/img11.jpeg");
  background-position: left, right;
  background-repeat: no-repeat, repeat;
  background-size: 40%;
}

.container {
  margin: 5%;
  border-style: solid;
  border-width: 3px;
  border-color:aquamarine;
  size: 80%;
}

.top-tabs {
  padding: 2%;
  margin-top: 4%;
  background-color: aquamarine;
  opacity: 70%;
  
}

.top-tabs p {
  border-width: 1px;
  border-color: black;
  text-align: center;
  border-style: solid;
  background-color: #73798a71;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size:inherit;
  opacity: 100%;
}

.top-tabs a {
  color: white;
}

.sub {
  background-color: crimson;
  opacity: 30%;
  height: 400px;
}

.sub-sub {
  background-color: blue;
  opacity: 30%;
  height: 500px;
}