body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: hwb(180 71% 24% / 0.876);
  background-image: url("img/img5.jpeg");
}

.bg1 {
  background-image: url("img/img11.jpeg");
  background-size: 40%;
  background-position: right;
  background-repeat: repeat;
}

.bg2 {
  background-image: url("img/img1.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 100%;
}

.bg3 {
  background-image: url("img/img10.jpeg");
  background-size: 40%;
  background-position: right;
  background-repeat: repeat;
}

.bg4 {
  background-image: url("img/img9.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 100%;
}

.bg5 {
  background-image: url("img/img4.jpeg");
  background-size: 40%;
  background-position: right;
  background-repeat: repeat;
}

.bg6 {
  background-image: url("img/img11.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 100%;
}

.bg7 {
  background-image: url("img/img5.jpeg");
  background-size: 40%;
  background-position: right;
  background-repeat: repeat;
}

.bg8 {
  background-image: url("img/img2.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 100%;
}

.bg9 {
  background-image: url("img/img3.jpeg");
  background-size: 40%;
  background-position: right;
  background-repeat: repeat;
  color: black;
}

.bg10 {
  background-image: url("img/img8.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 100%;
}

.container {
  margin: 5%;
  border-style: solid;
  border-width: 3px;
  border-color:aquamarine;
  size: 80%;
}

.top-tabs {
  padding: 2%;
  margin-top: 4%;
  background-color: aquamarine;
  opacity: 90%;
}

.top-tabs p {
  border-width: 2px;
  border-color: black;
  text-align: center;
  border-style: solid;
  background-color: #73798a71;
  margin-top: 5%;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 15px;
}

.top-tabs a {
  color: white;
}

.sub {
  height: 400px;
  color: black;
}

.sub p {

  font-size: 30px;
  color: rgb(241, 151, 217);
  opacity: 100%;
  margin-top: 15%;
}

.sub .text {
  color: bisque;
}

.sub h1 {
  text-align: center;
  margin-left: 20%;
  padding: 5%;
  color: white;
  font-size: 40px;
}

.sub .history {
  color: red;
  font-size: 50px;
}

.sub li {
  font-size: 22px;
  color: white;
}

img {
  display: block;
  width: 70%;
  height: auto;
  float: left;
}

.sub a {
  color: white;
}

.sub-sub {
  background-color: blue;
  opacity: 20%;
  height: 500px;
  color: black;
}